nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 2.7rem;

  height: 9.1rem;

  color: red;

  background-color: #21222A;
}

.nav--icon {
  height: 3rem;
  margin-right: .7rem;
}

.nav--logo_text {
  font-size: 2.2rem;
  color: #61DAFB;
}

.nav-title {
  font-weight: 700;
  font-size: 1.6rem;
  margin-left: auto;
  color: #DEEBF8;
}